* {margin:0;border:none;padding:0}
*:focus {outline:none}

body {
  margin:0;
  padding:0;
  width:100%;
  background-color:#fff;
  color:#000;
  font-family:Arial,sans-serif;
  overflow-y:scroll;
  -webkit-text-size-adjust:none;
     -moz-text-size-adjust:none;
      -ms-text-size-adjust:none;
       -o-text-size-adjust:none;
          text-size-adjust:none;
}

a {text-decoration:none;color:inherit}
a.a-blue {color:blue}

::-webkit-input-placeholder {color:#999}
::-moz-placeholder {color:#999}
:-moz-placeholder {color:#999}
:-ms-input-placeholder {color:#999}
::placeholder {color:#999}

div.max1200	{width:1200px;max-width:100%;margin:0 auto;position:relative}
div.max1200c	{width:1200px;max-width:100%;margin:0 auto;text-align:center;position:relative}
div.div100	{width:100%;max-width:100vw}
div.div100c	{width:100%;max-width:100vw;text-align:center}

table.table0 {width:100%;margin:0;border:0;padding:0;border-collapse:collapse}
table.table0-fixed {width:100%;margin:0;border:0;padding:0;border-collapse:collapse;table-layout:fixed}
td.td0        {margin:0;border:0;padding:0}
td.td0-left   {margin:0;border:0;padding:0;text-align:left}
td.td0-center {margin:0;border:0;padding:0;text-align:center}
td.td0-right  {margin:0;border:0;padding:0;text-align:right}
td.td0-lt {margin:0;border:0;padding:0;text-align:left;vertical-align:top}
td.td0-lm {margin:0;border:0;padding:0;text-align:left;vertical-align:middle}
td.td0-lb {margin:0;border:0;padding:0;text-align:left;vertical-align:bottom}
td.td0-ct {margin:0;border:0;padding:0;text-align:center;vertical-align:top}
td.td0-cm {margin:0;border:0;padding:0;text-align:center;vertical-align:middle}
td.td0-cb {margin:0;border:0;padding:0;text-align:center;vertical-align:bottom}
td.td0-rt {margin:0;border:0;padding:0;text-align:right;vertical-align:top}
td.td0-rm {margin:0;border:0;padding:0;text-align:right;vertical-align:middle}
td.td0-rb {margin:0;border:0;padding:0;text-align:right;vertical-align:bottom}

ul.hm-ul {margin:0.5em;border:none;padding:0 0 0 2em}

.bg-hm2left {
  background-image:-webkit-linear-gradient(0deg, #336600,#7bcc70,#999999,#ff7256,#991820);
  background-image:   -moz-linear-gradient(0deg, #336600,#7bcc70,#999999,#ff7256,#991820);
  background-image:    -ms-linear-gradient(0deg, #336600,#7bcc70,#999999,#ff7256,#991820);
  background-image:     -o-linear-gradient(0deg, #336600,#7bcc70,#999999,#ff7256,#991820);
  background-image:        linear-gradient(to left, #336600,#7bcc70,#999999,#ff7256,#991820);
}

c2502 {display:inline-block;padding:0 1px 0 3px;opacity:0.4}
c2502::before {content: "\2502"}
c0026 {display:inline-block;font-size:0.7em;padding:0 0.2em}

pct05 {font-size:0.5em}
pct06 {font-size:0.6em}
pct07 {font-size:0.7em}
pct08 {font-size:0.8em}
pct05::before, pct06::before, pct07::before, pct08::before {content: '%'}

div.hm-note1	{margin:1em 0;line-height:1.5em}
div.hm-note2 {padding-top:1em;line-height:1.5em}

div.autocomp {
  position:relative;
  width:100%;
  height:100%;
}
.autocomp-items {
  position:absolute;
  top:100%;
  width:100%;
  box-sizing:border-box;
  border:2px solid #ccc;
  background-color:#fff;
  color:#000;
  border-radius:5px;
  z-index:1099
}
.autocomp-items div {
  text-align:left;
  padding:5px;
  cursor:pointer
}
/*when hovering an item:*/
.autocomp-items div:hover {
  background-color:#ccc
}
/*when navigating through the items using the arrow keys:*/
.autocomp-active {
  background-color:#06c;
  color:#fff;
}
input.autocomp {
  width:100%;
  height:100%;
  box-sizing:border-box;
  padding-left:5px;
  font-size:inherit;
  background-color:#fff;
  color:#000;
  outline:none;
  -webkit-appearance:none
}

div.menu-l2:after {content: " \25BE"}

div.menu-l1:hover,
div.menu-l2:hover {background:#369}

div.submenu {
  position:absolute;top:25px;left:0;background:#369;color:#fff;line-height:2em;padding:0.5em 2em 1em 2em;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:1002;display:none
}
div.menu-l2:hover div.submenu {
  display:block
}


div.div-hmlogo	{position:absolute;top:0;left:0;width:145px;height:30px;text-align:left}
img.hmlogo	{margin:0;border:none;padding:0;width:145px;height:30px;cursor:pointer}
#hmfind		{width:100%;box-sizing:border-box;padding:0 5px;border-radius:5px;font-size:12px;background:#fff;color:#000;resize:none}
div.hmfind-go	{position:absolute;top:0;right:0;width:30px;height:30px;line-height:30px;padding-left:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;text-align:center;font-size:initial;cursor:pointer}
div.hmfind-go:hover {background:#fc0}
div.hmfind-go:before {content: "\1F50D"}

div.hmguest	{height:30px;line-height:30px}
div.hmguest-btn	{display:inline-block;font-size:12px;margin:0 0.5em;height:2em;line-height:2em;box-sizing:border-box;border:1px solid #999;border-radius:5px;padding:0 1em}
div.hmguest-btn:hover {border:1px solid #ccc}

div.hmuser	{display:inline-block;text-align:center}
div.hmuser-id	{font-size:11px}
div.hmuser-btns	{padding-top:3px;font-size:12px}
div.hmuser-btn	{display:inline-block;margin:0 0.5em;font-weight:bold}
div.hmuser-btn:hover {border-bottom:1px solid #999}

img.menu-icon {vertical-align:middle;margin:0 0 2px 0;cursor:pointer}

div.hmfooter-btns	{display:inline-block}
div.hmfooter-btn	{display:inline-block;vertical-align:middle;margin:0 0.5em;border-bottom:1px solid #023;cursor:pointer}
div.hmfooter-btn:hover	{border-bottom:1px solid #fff}
img.img-social		{vertical-align:middle;margin-left:0.5em;border:none;padding:0;height:18px;width:18px;cursor:pointer}
div.hmreserved	{display:inline-block;color:#999}

div.hmitems     {position:relative;white-space:nowrap;overflow:hidden;overflow-x:auto;text-align:left}
div.hmitems::-webkit-scrollbar       {height:6px}
div.hmitems::-webkit-scrollbar-track {border-radius:6px;background-color:#e6e6e6}
div.hmitems::-webkit-scrollbar-thumb {border-radius:6px;background-color:#ccc}
div.hmitem0     {display:inline-block;vertical-align:middle;margin-right:1em;height:3em;line-height:3em;border:1px solid #ccc;border-radius:3em;padding:0 2em;background-color:#fff;color:#000;cursor:pointer}
div.hmitem0:hover {
  background-image:-webkit-radial-gradient(#fff, #cef);
  background-image:   -moz-radial-gradient(#fff, #cef);
  background-image:    -ms-radial-gradient(#fff, #cef);
  background-image:     -o-radial-gradient(#fff, #cef);
  background-image:        radial-gradient(#fff, #cef);
}
div.hmitem1     {display:inline-block;vertical-align:middle;margin-right:1em;height:3em;line-height:3em;border:1px solid #ccc;border-radius:3em;padding:0 2em;background-color:#cff;color:#000}

div.faq-q       {font-size:12px;font-weight:bold;margin-top:1em;padding:5px 0;text-align:left}
div.faq-a       {font-size:12px;line-height:18px;text-align:left;width:100%;max-width:800px}
div.faq-4more	{font-size:14px;margin-top:1em;text-align:left}

div.kterms-h	{font-weight:bold;padding-bottom:0.5em}
div.kterm-key	{font-size:12px;height:20px;line-height:20px}
div.kterm-txt	{font-size:11px;margin:0 0 1em 1em;color:#666}

@media (min-width:600px) {
div.hmheader	{width:100%;min-width:1200px;height:95px;box-sizing:border-box;padding:10px 0 0 0;background-color:#023;color:#fff}
div.hmheader1	{padding:10px 0;height:30px;box-sizing:border-box;padding:0 240px 0 160px;position:relative}
div.div-hmfind	{width:100%;max-width:600px;height:30px;font-size:12px;position:relative}
div.div-hmuser	{position:absolute;top:0vh;right:0vw;width:225px;height:30px;overflow:hidden;text-align:right}
div.hmheader2	{padding:20px 0 5px 0;font-size:14px;line-height:2em;text-align:left;white-space:nowrap;overflow:visible}
div.menu-l1	{display:inline-block;padding:0 10px;border-top-left-radius:5px;border-top-right-radius:5px;cursor:pointer}
div.menu-l2	{display:inline-block;padding:0 10px;border-top-left-radius:5px;border-top-right-radius:5px;cursor:pointer;position:relative}
div.menu-ex	{display:inline-block}
div.menu-new {position:absolute;left:100%;bottom:65%;background:#900;color:#fff;font-size:11px;line-height:16px;padding:0 5px;border-radius:3px;transform:rotate(-15deg);transform-origin:0 100%}
div.menu-new:before {content: "New"}

div.hmcontent	{width:100%;min-width:1200px;height:100%;min-height:calc(100vh - 175px)}
div.div1200	{width:1200px;margin:0 auto;position:relative}

div.hmfooter	{width:100%;min-width:1200px;height:80px;text-align:center;background-color:#023;color:#fff}
div.hmfooter1	{font-size:14px;padding:1em 0}
div.hmfooter2	{font-size:12px}

div.hm-h1	{font-size:2em;line-height:1em;font-family:'Open Sans', sans-serif;font-weight:300}

div.h2o          {display:inline-block}
}

@media (max-width:599px) {
div.hmheader    {height:120px;box-sizing:border-box;padding:10px 0 0 0;background-color:#023;color:#fff}
div.hmheader1	{padding:10px 5px;height:65px;box-sizing:border-box;padding:38px 0 0 0;position:relative}
div.div-hmfind	{height:30px;font-size:12px;position:relative}
div.div-hmuser	{position:absolute;top:0;right:0;width:calc(100% - 160px);height:30px;overflow:hidden;text-align:right}
div.hmheader2	{margin:1em 5px;font-size:12px;line-height:2em;text-align:left;white-space:nowrap}
div.menu-l1	{display:inline-block;padding:0 6px;border-top-left-radius:5px;border-top-right-radius:5px;cursor:pointer}
div.menu-l2 	{display:inline-block;padding:0 6px;border-top-left-radius:5px;border-top-right-radius:5px;cursor:pointer;position:relative}
div.menu-ex,
div.menu-new	{display:none}

div.hmcontent   {width:100%;height:100%;min-height:calc(100vh - 200px)}
div.div1200     {}
div.hmfooter	{width:100%;height:80px;text-align:center;background-color:#023;color:#fff;white-space:nowrap;overflow:auto}
div.hmfooter1   {font-size:12px;padding:1em 0}
div.hmfooter2   {font-size:10px}

div.hm-h1       {font-size:1.5em;line-height:1em}

div.h2o	{}
}
